RUNNAME="senior_backend_developer"
USE_S3=False
NRUNS=6_000
SAVE_EVERY=125
bucket="fake_name"
DATAPATH="simulation_framework/simulation_data"
SKILL_TYPE_ID=0
NUMBER_OF_SK_PER_TEAM=3
IS_RANDOM_HYPERPARAMS=False
IS_RANDOM_USERPARAMS=False
SKILL_TYPE_IDS="0,1,2,3"
IS_RANDOM_SKILL_TYPE_IDS=False